

.navbar{
    background-color: #24292e !important;
}

#footer a{
    color: white;
}

#main .rrss{
    width: 50px;
}
#contact .rrss{
    width: 40px;
}

#contact .white-text-anthony{
    color:white;

}
.text-cv{
    color: #97c93e !important;
}

#main .carousel-inner img{
    max-height: 90vh;
    object-fit: cover;
    filter: grayscale(70%);
}

#carousel{
    position: relative;
}

#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
}
#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;
}
#contact{
    background-color: #24292e ;
    color: white ;
}

#about-section{
    background-color: #24292e;
    color: white;
}
#header .white-text-anthony-h2{
    color: white !important;
}



#main .white-text-anthony-h1{
    font-size: calc(1.5em + 1vw);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
#main .white-text-anthony-h2{
    font-size: calc(0.5em + 0.5vw);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
#header .white-text-anthony-h2{
    font-size: calc(0.5em + 1vw);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
#main .rrss{
    width: calc(1em + 0.5vw);
}
#contact .rrss{
    width: 40px;
}
#about-section .white-text-anthony-h2{
    font-size: calc(1em + 0.5vw);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.white-text-anthony-h3{
    font-size: calc(0.5em + 0.5vw);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
#projects .black-text-anthony-h1{
    font-size: calc(1em + 1vw);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
#projects .black-text-anthony-h2{
font-size: calc(1em + 0.5vw);
font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
#contact .white-text-anthony-h2{
    font-size: 25px
}

#module {
    width: 500px;
  }
  
  #module p.collapse[aria-expanded="false"] {
      display: block;
      height: 40px !important;
      overflow: hidden;
  }
  
  #module p.collapsing[aria-expanded="false"] {
      height: 40px !important;
  }
  
  #module a.collapsed:after  {
      content: '+ Show More';
  }
  
  #module a:not(.collapsed):after {
      content: '- Show Less';
  }



