@font-face {
  font-family: AnthonyFont;
  src: url("../font/font_anthony.otf");
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*
NAVBAR
*/
}

body .navBar .navbar {
  background-color: #131316;
}

body .navBar #navbar_sign_id {
  visibility: hidden;
  color: white;
  font-size: calc(0.6em + 0.6vw);
  font-family: "AnthonyFont";
}

body .navBar .text-nav {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: calc(0.4em + 0.5vw);
  text-decoration: none;
}

body .navBar .text-nav:hover {
  color: white;
  background-color: #26262c;
}

body .navBar ul {
  background-color: #131316;
}

body .navBar ul .text-nav-button {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: calc(0.4em + 0.5vw);
}

body .navBar ul .text-nav-button:hover {
  color: white;
  background-color: #26262c;
}

body .title_primary {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: calc(0.8em + 0.8vw);
}

body .text_secondary {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: calc(0.5em + 0.4vw);
}

/*
MAIN
*/
.carousel__box .carousel-item {
  height: 94vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.carousel__box .carousel__box__item1 {
  background-image: linear-gradient(45deg, rgba(33, 37, 41, 0.6), rgba(52, 58, 64, 0.5)), url("../images/image1.png");
}

.carousel__box .carousel__box__item2 {
  background-image: linear-gradient(45deg, rgba(33, 37, 41, 0.6), rgba(52, 58, 64, 0.5)), url("../images/image2.png");
}

.carousel__box .carousel__box__item3 {
  background-image: linear-gradient(45deg, rgba(33, 37, 41, 0.6), rgba(52, 58, 64, 0.5)), url("../images/image3.png");
}

.carousel__box .carousel__box__text {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.carousel__box .carousel__box__text .title_main {
  color: white;
  font-size: calc(2.5em + 1vw);
  font-family: "AnthonyFont";
}

.carousel__box .carousel__box__text .subtitle_main {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: calc(0.5em + 0.4vw);
  font-weight: 300;
}

.carousel__box .carousel__box__text .div_icons_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.carousel__box .carousel__box__text .div_icons_main a {
  padding-left: 30px;
  padding-right: 30px;
}

.carousel__box .carousel__box__text .div_icons_main a .github_icon {
  content: url("../images/icons/github_icon.png");
  width: 22px;
  height: 22px;
}

.carousel__box .carousel__box__text .div_icons_main a .linkedin_icon {
  content: url("../images/icons/linkedin_icon.png");
  width: 22px;
  height: 22px;
}

.carousel__box .carousel__box__text .div_icons_main a .mail_icon {
  content: url("../images/icons/mail_icon.png");
  width: 22px;
  height: 22px;
}

#about_section {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#131316), to(#1c1c21));
  background-image: linear-gradient(180deg, #131316, #1c1c21);
}

#about_section .about_div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about_section .about_div .projects_div_tittle_primary {
  text-align: center;
}

#about_section div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about_section div .card_about {
  background-color: #26262c;
}

#about_section div .card_about h5 {
  color: white;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: calc(0.5em + 0.5vw);
}

#about_section div .card_about p {
  color: white;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: calc(0.5em + 0.4vw);
}

#projects_section {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1c1c21), to(#26262c));
  background-image: linear-gradient(180deg, #1c1c21, #26262c);
}

#projects_section .projects_div {
  text-align: center;
  background-position: center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

#projects_section .projects_div .peopleDiv__itemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#projects_section .projects_div .peopleDiv__itemContainer a,
#projects_section .projects_div .peopleDiv__itemContainer a:hover {
  color: white;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

#projects_section .projects_div .peopleDiv__itemContainer a h4,
#projects_section .projects_div .peopleDiv__itemContainer a:hover h4 {
  font-weight: 300;
  font-size: calc(0.6em + 0.6vw);
}

#projects_section .projects_div .peopleDiv__itemContainer a p,
#projects_section .projects_div .peopleDiv__itemContainer a:hover p {
  font-weight: 100;
  font-size: calc(0.5em + 0.4vw);
}

#projects_section .projects_div .peopleDiv__itemContainer .card {
  background-color: #26262c;
}

#projects_section .projects_div .peopleDiv__itemContainer .card:hover {
  -webkit-transform: rotate(0.5deg);
          transform: rotate(0.5deg);
}

#footer_section {
  background-color: #131316;
}

#footer_section .footer_div .footer_text {
  color: white;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: calc(0.4em + 0.4vw);
}

#blog_section {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#26262c), to(#2f3037));
  background-image: linear-gradient(180deg, #26262c, #2f3037);
}

#blog_section .blog_div {
  text-align: center;
  background-position: center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  color: white;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

#blog_section .blog_div h5 {
  font-weight: 300;
  color: white;
  font-size: calc(0.5em + 0.7vw);
}

#blog_section .blog_div p,
#blog_section .blog_div small {
  font-weight: 100;
  font-size: calc(0.4em + 0.5vw);
}

#blog_section .blog_div .card {
  background-color: #26262c;
}

#blog_section .blog_div .card:hover {
  -webkit-transform: rotate(0.5deg);
          transform: rotate(0.5deg);
}
/*# sourceMappingURL=style.css.map */