$color1: rgba(19, 19, 22, 1);
$colorGra1: rgba(33, 37, 41, 0.6);
$colorGra2: rgba(52, 58, 64, 0.5);
$color2: rgba(28, 28, 33, 1);
$color3: rgba(38, 38, 44, 1);
$color4: rgba(47, 48, 55, 1);
$color5: rgba(57, 58, 65,1);
$color6: rgba(106, 107, 112,1);
$color5: white;
$height1: 94vh;
$class_carousel: carousel__box__item;
$text1: "Roboto", sans-serif;
$grad1: linear-gradient(45deg, $colorGra1, $colorGra2);
$grad2: linear-gradient(90deg, $color2, $color2);

@font-face {
  font-family: AnthonyFont;
  src: url("../font/font_anthony.otf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*
NAVBAR
*/
  .navBar {
    .navbar{
      background-color: $color1;
    }
    .navbar_sign{
      font-size: calc(0.6em + 0.6vw);
      font-family: "AnthonyFont";

    }
    a,
    a:hover {
      color: $color5;
      font-family: $text1;
      font-weight: 300;
      text-decoration: none;
    }
  }
  .title_primary {
    color: $color5;
    font-family: $text1;
    font-weight: 300;
    font-size: calc(0.8em + 0.5vw);
  }
  .text_secondary {
    color: $color5;
    font-family: $text1;
    font-weight: 100;
    font-size: calc(0.4em + 0.5vw);
  }
  .text_footer {
    color: $color5;
    font-family: $text1;
    font-weight: 100;
    font-size: calc(0.5em + 0.5vw);
  }
}

/*
MAIN
*/
.carousel__box {
  .carousel-item {
    height: $height1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  @each $num in 1, 2, 3 {
    .#{$class_carousel}#{$num} {
      background-image: $grad1, url("../images/image#{$num}.png");
    }
  }
  .carousel__box__text {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    z-index: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title_main {
      color: $color5;
      font-size: calc(2.5em + 1vw);
      font-family: "AnthonyFont";
    }
    .subtitle_main {
      color: $color5;
      font-family: $text1;
      font-size: calc(0.5em + 0.4vw);
      font-weight: 300;
    }
    .div_icons_main {
      display: flex;
      padding: 20px;
      a {
        padding-left: 30px;
        padding-right: 30px;
        @each $rrss in github, linkedin, mail {
          .#{$rrss}_icon {
            content: url("../images/icons/#{$rrss}_icon.png");
            width: 22px;
            height: 22px;
          }
        }
      }
    }
  }
}
#about_section {
  background-image: linear-gradient(180deg, $color1, $color2);
  .about_div {
    z-index: 1;
    justify-content: center;
    align-items: center;
  }
}

#projects_section {
  background-image: linear-gradient(180deg, $color2, $color3);
  .projects_div {
    text-align: center;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    .peopleDiv__itemContainer {
      display: flex;
      flex-wrap: wrap;
      width: 70%;
      flex-direction: row;
      justify-content: space-evenly;
      a,
      a:hover {
        color: $color5;
        font-family: $text1;
        text-decoration: none;
        h4{
          font-weight: 300;
          font-size: calc(0.6em + 0.6vw);
        }
        p{
          font-weight: 100;
          font-size: calc(0.5em + 0.4vw);
        }
      }
      .card {
        background-color: $color4;
        margin-bottom: 10px;
      }
      .card:hover {
        transform: rotate(1deg);
      }
    }
  }
}
#footer_section {
  background-color: $color1;
  .footer_div {
    .footer_div_text {
      color: white;
      font-family: $text1;
      font-weight: 300;
      font-size: calc(0.4em + 0.4vw);
    }
  }
}
