@font-face {
  font-family: AnthonyFont;
  src: url("../font/font_anthony.otf");
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*
NAVBAR
*/
}

body .navBar a,
body .navBar a:hover {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-decoration: none;
}

body .navBar .navBar__ul .navBar__ul__li:hover {
  background-color: #26262c;
}

body .title_primary {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: calc(0.8em + 0.5vw);
}

body .text_secondary {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: calc(0.4em + 0.4vw);
}

body .text_footer {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: calc(0.5em + 0.5vw);
}

/*
MAIN
*/
.carousel__box .carousel-item {
  height: 94vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.carousel__box .carousel__box__item1 {
  background-image: linear-gradient(45deg, rgba(33, 37, 41, 0.6), rgba(52, 58, 64, 0.5)), url("../images/image1.png");
}

.carousel__box .carousel__box__item2 {
  background-image: linear-gradient(45deg, rgba(33, 37, 41, 0.6), rgba(52, 58, 64, 0.5)), url("../images/image2.png");
}

.carousel__box .carousel__box__item3 {
  background-image: linear-gradient(45deg, rgba(33, 37, 41, 0.6), rgba(52, 58, 64, 0.5)), url("../images/image3.png");
}

.carousel__box .carousel__box__text {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.carousel__box .carousel__box__text .title_main {
  color: white;
  font-size: calc(2.5em + 1vw);
  font-family: "AnthonyFont";
}

.carousel__box .carousel__box__text .subtitle_main {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: calc(0.5em + 0.4vw);
  font-weight: 300;
}

.carousel__box .carousel__box__text .div_icons_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.carousel__box .carousel__box__text .div_icons_main a {
  padding-left: 30px;
  padding-right: 30px;
}

.carousel__box .carousel__box__text .div_icons_main a .github_icon {
  content: url("../images/icons/github_icon.png");
  width: 22px;
  height: 22px;
}

.carousel__box .carousel__box__text .div_icons_main a .linkedin_icon {
  content: url("../images/icons/linkedin_icon.png");
  width: 22px;
  height: 22px;
}

.carousel__box .carousel__box__text .div_icons_main a .mail_icon {
  content: url("../images/icons/mail_icon.png");
  width: 22px;
  height: 22px;
}

#about_section {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#131316), to(#26262c));
  background-image: linear-gradient(180deg, #131316, #26262c);
}

#about_section .about_div {
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects_section {
  background-color: #26262c;
}

#projects_section .projects_div .img_card {
  width: calc(10em + 10vw);
}

#footer_section {
  background-color: #131316;
}

#footer_section .footer_div .footer_div_text {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: calc(0.4em + 0.4vw);
}
/*# sourceMappingURL=styles.css.map */